<!DOCTYPE html>
<html>
<style>
	#mibarra {
		margin: 0px;
		padding: 0px;
		list-style: ;
		text-transform: uppercase;
		color: white;
		background: white;
		
		



	}
	#mibarra li {
		display: inline;
		margin: 0px 40px;
		color: red;

	#mibarra li a{
		
		padding: 20px;
		display: block;
	}

	}
</style>

<body>
	<ul id="mibarra"> 
		<li> <a href="http://127.0.0.1:8000/">Inicio </a> </li>
		<li> <a href="http://127.0.0.1:8000/Programacionavanzada.html">Programacion Avanzada</a></li>
		<li> <a href="http://127.0.0.1:8000/ProgramacionInicial.html">Programacion Inicial</a></li>
		<li> <a href="http://127.0.0.1:8000/RecursosBasicos.html">Recursos Basicos</a></li>
		
		
	</ul>

</body>
</html>